.form {
  width: 70%;
  margin: 50px auto;
}

.adc-form {
  width: 100%;
  margin: 30px auto;
}

.button {
  text-align: center;
  padding: 5px 5px;
  margin: 10px 20px;
  min-width: 100px;
}

.page-height {
  min-height: 80vh;
}
