<div class="container">
    <div class="card bg-light form">
        <app-alert></app-alert>
        <h2 class="card-header text-center ">Change Password</h2>
        <div class="card-body">
            <form [formGroup]="changePasswordForm" (ngSubmit)="onChangePasswordFormSubmit()" role="form">
                <div class="form-group">
                    <label for="oldPassword">Old Password : </label>
                    <input [class.is-invalid]="oldPassword.invalid && (oldPassword.touched || oldPassword.dirty)" type="password" name="oldPassword" id="oldPassword" class="form-control" placeholder="Old Password" formControlName="oldPassword" />
                    <div *ngIf="oldPassword.invalid && (oldPassword.dirty || oldPassword.touched)" class="text-danger">
                        <small *ngIf="oldPassword.errors.required">
                        Password is required.
                    </small>
                        <small *ngIf="oldPassword.errors.minlength">
                        Password must be at least 6 characters long.
                    </small>
                    </div>
                </div>

                <div class="form-group">
                    <label for="newPassword">Password : </label>
                    <input [class.is-invalid]="newPassword.invalid && (newPassword.touched || newPassword.dirty)" type="password" name="newPassword" id="newPassword" class="form-control" placeholder="New Password" formControlName="newPassword" />
                    <div *ngIf="newPassword.invalid && (newPassword.dirty || newPassword.touched)" class="text-danger">
                        <small *ngIf="newPassword.errors.required">
                      Password is required.
                  </small>
                        <small *ngIf="newPassword.errors.minlength">
                      Password must be at least 6 characters long.
                  </small>
                    </div>
                </div>

                <div class="form-group">
                    <label for="confirmPassword">Confirm Password : </label>
                    <input [class.is-invalid]="confirmPassword.invalid && (confirmPassword.touched || confirmPassword.dirty)" type="password" name="confirmPassword" id="confirmPassword" class="form-control" placeholder="Confirm Password" formControlName="confirmPassword"
                    />
                    <div *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)" class="text-danger">
                        <small *ngIf="confirmPassword.errors.required">
                        Password is required.
                    </small>
                        <small *ngIf="confirmPassword.errors.minlength">
                        Password must be at least 6 characters long.
                    </small>
                        <small *ngIf="confirmPassword.errors?.MatchPassword">
                    Password Don't Match
                    </small>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary button" [disabled]="!changePasswordForm.valid">Update Password</button>
                <button type="button" class="btn btn-secondary button" (click)="onCancel()">Cancel</button>
            </form>
            <br>
        </div>
    </div>
</div>