<div class="container-fluid page-height">
    <div class="card bg-light adc-form">
        <app-alert></app-alert>
        <h2 class="card-header text-center ">Edit Contact</h2>
        <div class="card-body">
            <form [formGroup]="editContactForm" (ngSubmit)="onEditContactFormSubmit()" role="form" autocomplete="off">
                <div class="form-group">
                    <label for="name">Name : </label>
                    <input [class.is-invalid]="name.invalid && (name.touched || name.dirty)" type="text" name="name" id="name" class="form-control" placeholder="name" formControlName="name" />
                    <div *ngIf="name.invalid && (name.dirty || name.touched)" class="text-danger">
                        <small *ngIf="name.errors.required"> Name is required.</small>
                    </div>
                </div>

                <div class="form-group">
                    <label for="nickName">Nick Name : </label>
                    <input [class.is-invalid]="nickName.invalid && (nickName.touched || nickName.dirty)" type="text" name="nickName" id="nickName" class="form-control" placeholder="nickName" formControlName="nickName" />
                </div>

                <div class="form-group">
                    <label for="email">Email : </label>
                    <input [class.is-invalid]="email.invalid && (email.touched || email.dirty)" type="email" name="email" id="email" class="form-control" placeholder="Email" formControlName="email" required />
                    <div *ngIf="email.invalid && (email.dirty || email.touched)" class="text-danger">
                        <small *ngIf="email.errors.email">Should be a valid email.</small>
                    </div>
                </div>

                <div formArrayName="phones">
                    <h4>Phones: </h4>
                    <button class="btn btn-primary mb-2" type="button" (click)="onAddPhone()">Add Phone</button>
                    <div class="form-group" *ngFor="let phone of phones.controls; let i=index">
                        <input type="number" class="form-control" placeholder="phone with country code" [formControlName]="i" />
                    </div>
                </div>

                <div formGroupName="address">
                    <h4>Address</h4>
                    <div class="form-group">
                        <label for="city">City :</label>
                        <input type="text" name="city" id="city" class="form-control" placeholder="city" formControlName="city" />
                    </div>
                    <div class="form-group">
                        <label for="district">District :</label>
                        <input type="text" id="district" name="district" class="form-control" placeholder="district" formControlName="district" />
                    </div>
                    <div class="form-group">
                        <label for="zipCode">Zip Code :</label>
                        <input type="number" id="zipCode" name="zipCode" class="form-control" placeholder="zipCode" formControlName="zipCode" />
                    </div>
                </div>

                <div class="form-group">
                    <label for="website">Website : </label>
                    <input [class.is-invalid]="website.invalid && (website.touched || website.dirty)" type="text" name="website" id="website" class="form-control" placeholder="website" formControlName="website" />
                </div>

                <div class="form-group">
                    <label for="birthDate">BirthDate : </label>
                    <input [class.is-invalid]="birthDate.invalid && (birthDate.touched || birthDate.dirty)" type="date" name="birthDate" id="birthDate" class="form-control" placeholder="birthDate" formControlName="birthDate" />
                </div>

                <div class="form-group">
                    <label for="imagePath">Image Path : </label>
                    <input [class.is-invalid]="imagePath.invalid && (imagePath.touched || imagePath.dirty)" type="text" name="imagePath" id="imagePath" class="form-control" placeholder="Image Path" formControlName="imagePath" />
                </div>

                <button type="submit" class="btn button btn-primary" [disabled]="!editContactForm.valid">Update</button>
                <button type="button" class="btn btn-danger button float-right">Delete</button>
            </form>
            <br>
        </div>
    </div>
</div>